/* =================
Google Fonts 
====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* =================
Base Styles 
====================*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* =================
Header Styles 
====================*/
header{
    height: 667px;
    background: #2D25A0;
}
.header-content, .highlight-content{
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
}
.watch-btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 10px 35px;
    background: #E02C6D;
    transition: .3s;
}
.watch-btn i.fas{
    padding-left: 5px;
}
.watch-btn:hover{
    background-color: #3DBAFD;
}
.header-img img, .highlight-img img{
    width: 556px;
    height: 438px;
}
.header-img:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: .3s ease;
}

/* =================
Players Area Styles 
====================*/
.players-area{
    width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 70px;
}
.player-img img{
    width: 300px;
    height: 256px;
}
.single-player{
    box-shadow: 0 0 40px #ddd;
    padding: 15px;
}

/* =================
Highlight Area Styles 
====================*/

.highlight-content{
    margin-top: 165px;
}
/* =================
Gallery Area Styles 
====================*/

.gallery-row-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.gallery-row-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.single-img img{
    width: 100%;
    height: 400px;
}

/* =================
Champion Area Styles 
====================*/
.champion-area{
    text-align: center;
    margin: 100px 0;
}
.champion-area img{
    width: 400px;
}

/* =================
Footer Area Styles 
====================*/
footer{
    text-align: center;
}
.footer-logo img{
    width: 483px;
    height: 110px;
}